body {
  font-family: nature, sans-serif;
  font-weight: 300;
  background: url("images/background/White-Paper-Texture.jpg") top left repeat;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}
header img {
  width: 150px;
  height: 100px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}
header p {
  padding: 0 20px;
  margin: 0;
}
header {
    border-bottom: 5px double green;
}
section {
  margin-top: 10px;
}
section p {
  font-size: 20px;
  font-weight: 500;
}
section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}
footer {
  font-size: 12px;
  padding: 20px 0;
  font-weight: 700;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}