div.jumbotron.hero-technology{
  color:#fff;
  text-align:left;
  background:url('../../assets/img/wedding-photo.png');
  background-size:cover;
  background-position:center;
  padding:100px 25px;
  box-shadow:0 10px 15px rgba(26,26,26,.5);
  height:90vh;
}

h1.hero-title, h2.hero-title, h3.hero-title{
  text-shadow:0 5px 2px rgba(0,0,0,0.5);
  color:gold;
  font-weight:500;
  padding:0 25px;
  font-family:'Cookie', sans-serif;
  font-size:80px;
}

p.hero-subtitle{
  max-width:600px;
  margin:25px 25px;
  padding:10px 15px;
  background-color:rgba(0,0,0,0.3);
  color:gold;
  text-shadow:0 1px 1px rgba(0,0,0,0.7);
  font-weight:500;
}

